* {
    font-family: "poppins";
}
.back-buttom {
    display: inline;
    cursor: pointer;
    background-color: #372f7a;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
